/* Estilo geral */
body {
    font-family: 'Lato', sans-serif;
    background-color: #ff0000;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000; /* Vermelho marcante da Fórmula 1 */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
}

nav {
    background-color: #262626; /* Cinza escuro */
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00; /* Amarelo inspirado nas bandeiras da Fórmula 1 */
}

.main-content {
    padding: 40px;
    text-align: center;
}

.main-content h2 {
    color: #ffcc00; /* Título com destaque em amarelo */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

button {
    background-color: #ff1c1c;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffcc00;
}

footer {
    background-color: #1a1a1a;
    color: #bbbbbb;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
